.st-emotion-cache-asc41u h1, .st-emotion-cache-asc41u h2, .st-emotion-cache-asc41u h3, .st-emotion-cache-asc41u h4, .st-emotion-cache-asc41u h5, .st-emotion-cache-asc41u h6, .st-emotion-cache-asc41u span {
    font-size: x-large;
}
.st-emotion-cache-q0wegp{
    gap:5rem;
}
.element.style{
    max-width: 320%;
    height: 247px;
}
.st-emotion-cache-j6qv4b p {
    background-color: bisque;
}
